.chatPageContainer {
  height: 100vh;
  background-image: url("https://amahane.s3.ap-northeast-1.amazonaws.com/loginPage/loginPageBg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .chatWindowContainer {
    display: flex;
    height: 85vh;
    width: 60vw;
    border-radius: 10px;
    background: #313338;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
    .chatWindowLeftContent {
      display: flex;
      width: 33%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #2b2d31;
      .chatWindowLeftSideBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        background-color: #1e1f22;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        .chatWindowUserAvatarContainer {
          display: flex;
          justify-content: center;
          width: auto;
          padding: 15px 5px 0 5px;
          .chatWindowUserAvatar {
            width: 50px;
            height: 50px;
            background-image: linear-gradient(#e66465, #9198e5);
            border-radius: 100%;
            cursor: pointer;
            transition: 0.3s;
          }
          .chatWindowUserAvatar:hover {
            border-radius: 10px;
            transition: 0.3s;
          }
        }
        .chatWindowActionContainer {
          color: #c6c6c6;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 15px;
          .chatWindowAction {
            margin-bottom: 15px;
            cursor: pointer;
            transition: 0.5s;
          }
          .chatWindowAction:hover {
            color: white;
            transition: 0.5s;
          }
        }
      }

      .chatWindowLeftFunctionBar {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        overflow: hidden;
        .chatWindowLeftFunctionBarSearchContainer {
          width: 100%;
          padding: 10px;
          border-bottom: 2px solid #1e1f22;
          .chatWindowLeftFunctionBarSearch {
            width: 100%;
            height: 30px;
            background-color: #1e1f22;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 5px;
          }
        }
        .chatWindowLeftFunctionBarFriendsContainer {
          width: 100%;
          padding-right: 10px;
          margin-top: 10px;
          overflow-y: scroll;
          overflow-x: hidden;
          .chatWindowLeftFunctionBarFriendsBtnContainer {
            margin: 5px 15px 8px 5px;
            width: 100%;
            .chatWindowLeftFunctionBarFriendsBtn {
              display: flex;
              align-items: center;
              background: none;
              border: none;
              padding: 15px;
              border-radius: 5px;
              width: 100%;
              cursor: pointer;
              .chatWindowLeftFunctionBarFriendsBtnIconContainer {
                color: #c6c6c6;
              }
              .chatWindowLeftFunctionBarFriendsBtnDesc {
                margin-left: 10px;
                color: #7e8287;
              }
            }
            .chatWindowLeftFunctionBarFriendsBtn:hover {
              background-color: #404249;
              .chatWindowLeftFunctionBarFriendsBtnDesc {
                margin-left: 10px;
                color: white;
              }
              .chatWindowLeftFunctionBarFriendsBtnIconContainer {
                color: white;
              }
            }
          }
        }
        .chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar {
          width: 0;
        }
        .chatWindowLeftFunctionBarFriendsContainer:hover::-webkit-scrollbar {
          width: 6px;
        }
        .chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar-thumb {
          background-color: #1a1b1e;
          border-radius: 15px;
        }
        .chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar-track {
          color: #5865f2;
        }
      }
    }

    .chatWindowRightContent {
    }
  }
}
