.chatPageContainer {
  height: 100vh;
  background-image: url("https://amahane.s3.ap-northeast-1.amazonaws.com/loginPage/loginPageBg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
