.userSettingRightContainer {
  width: 50%;
  .userPreviewTitle {
  }
  .previewCardContainer {
    background-color: #232428;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    width: 90%;
    .previewBanner {
      height: 60px;
      position: relative;
      .avatarContainer {
        position: absolute;
        bottom: -50%;
        left: 5%;
        transform: translateY(-15%);
      }
    }
    .userInfoCardOuterContainer {
      height: 310px;
      display: flex;
      justify-content: center;
      .userInfoCardInnerContainer {
        background-color: #111214;
        width: 85%;
        height: 260px;
        margin-top: 35px;
        margin-bottom: 35px;
        border-radius: 10px;
        padding: 8px;
        overflow: hidden;
        .usernameContainer {
          padding-bottom: 5px;
          border-bottom: 1px solid #3c3e44;
        }

        .aboutMeContainer {
          margin-top: 10px;
          .aboutMeDesc {
            margin-top: 3px;
            white-space: normal;
            font-size: 10px;
          }
        }

        .customizingProfileContainer {
          margin-top: 10px;
          .previewInnerContainer {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .previewDecorationImg {
              width: 40%;
              border-radius: 5px;
            }
            .timeCounterContainer {
              width: 52%;

              .timeCounterTitle {
                padding-top: 12px;
                font-size: 9.5px;
                font-weight: bold;
              }
              .timeCounter {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
