.windowCloseIconContainer {
  color: #909399;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: 0.5s;
}
.windowCloseIconContainer:hover {
  background-color: white;
  transition: 0.5s;
}
