.chatFriendContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 15px 8px 5px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  .chatFriendAvatarContainer {
    background-color: white;
    border-radius: 100%;
    min-width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
    .chatFriendImg {
      width: 50px;
      height: 50px;
    }
  }
  .chatFriendAvatarContainer:hover {
    border-radius: 10px;
    transition: 0.5s;
  }
  .chatFriendNameContainer {
    width: 100px;
    color: #6e7278;
    margin-left: 8px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.chatFriendContainer:hover {
  background-color: #404249;
  .chatFriendNameContainer {
    color: white;
  }
}
