.registerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://amahane.s3.ap-northeast-1.amazonaws.com/loginPage/loginPageBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .registerForm {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #313338;
    padding: 30px 40px 40px 40px;
    border-radius: 10px;
    width: 350px;
    height: 620px;
    align-self: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: registerFormGrow 0.2s ease-in forwards;

    .registerHeading {
      color: #f0f1f3;
      align-self: center;
    }
    .registerInputContainer {
      display: flex;
      flex-direction: column;
      color: #878b92;
      .registerLabel {
        margin-top: 20px;
      }
      .registerInput {
        height: 30px;
        padding: 5px;
        margin-top: 7px;
        border: none;
        border-radius: 5px;
      }
    }
    .registerCheckBoxContainer {
      margin-top: 20px;
      color: #878b92;
      .registerCheckBox {
        margin-right: 10px;
      }
      .registerCheckBoxLabel {
        font-size: 12px;
      }
    }
    .registerHCaptcha {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      transform: scale(0.89);
    }
    .registerBtn {
      margin-top: 20px;
      padding: 10px;
      background-color: #5865f2;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      font-size: 16px;
    }
    .registerToLoginNotification {
      margin-top: 5px;
      color: #7e8287;
      .registerToLoginLink {
        text-decoration: none;
        color: #1575a7;
      }
    }
    .registerBottomLeftImg {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 65px;
      border-bottom-left-radius: 5px;
    }
    .registerBottomRightImg {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 65px;
      border-bottom-right-radius: 5px;
    }
  }

  @keyframes registerFormGrow {
    0% {
      transform: scale(0);
    }
    33% {
      transform: scale(0.33);
    }
    50% {
      transform: scale(0.5);
    }
    66% {
      transform: scale(0.66);
    }
    100% {
      transform: scale(1);
    }
  }

  .registerFormEnter {
    opacity: 0;
  }
  .registerFormEnterActive {
    opacity: 1;
    transition: opacity 500ms;
  }
  .registerFormExit {
    opacity: 1;
  }
  .registerFormExitActive {
    opacity: 1;
    transition: opacity 500ms;
  }

  .registerCompleteContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-image: url("https://amahane.s3.ap-northeast-1.amazonaws.com/registerPage/sao.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 40px 40px 40px;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    align-self: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: registerFormGrow 0.2s ease-in forwards;

    .registerCompleteDescImg {
      align-self: center;
      color: white;
      animation: completeHeadingFadeIn 1s ease-in forwards;
    }
    @keyframes completeHeadingFadeIn {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      33% {
        opacity: 0.33;
      }
      50% {
        opacity: 0.5;
      }
      66% {
        opacity: 0.66;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .registerCompleteLoadingImg {
      padding-top: 50px;
      animation: loadingImgFadeInOut 2s ease-in-out infinite;
    }
    @keyframes loadingImgFadeInOut {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .registerCompleteDescImg {
      padding-top: 30px;
      width: 430px;
    }
  }

  .registerCompleteContainerEnter {
    opacity: 1;
    transition: opacity;
  }
  .registerCompleteContainerEnterActive {
    opacity: 1;
    transition: opacity 500ms;
  }
  .registerCompleteContainerExit {
    opacity: 0;
  }

  .registerCompleteContainerExitActive {
    opacity: 0;
    transition: opacity 500ms;
  }
}

.oshinokoContainer {
  display: flex;
  background-color: black;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  animation: loadingAppear 0.3s ease-in forwards;
  .oshinokoBannerContainer {
    z-index: 3;
    animation: appearThenDissolve ease-in-out 2.5s forwards;
    .oshinokoBanner {
      height: 60vh;
      max-height: 500px;
    }
  }
  @keyframes appearThenDissolve {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .oshinokoCharContainer {
    position: absolute;
    bottom: 0;
    z-index: 0;
    animation: characterAppear 1.5s;
    .oshinokoChar {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  @keyframes characterAppear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .oshinokoStageContainer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation: moveToTop 6s forwards;
    .oshinokoStage {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  //防止过高时图片移动到区域外
  @media (max-aspect-ratio: 1414/1000) {
    .oshinokoStageContainer {
      animation: stageAppear 6s forwards !important;
      .oshinokoStage {
        height: 100vh;
        width: auto;
        object-fit: cover;
      }
    }
    .oshinokoCharContainer {
      .oshinokoChar {
        height: 100vh;
        width: auto;
        object-fit: cover;
      }
    }
  }
  @keyframes moveToTop {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    40% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(50%);
      opacity: 1;
    }
  }
  @keyframes stageAppear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
@keyframes loadingAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
