@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pacifico&family=Sawarabi+Mincho&display=swap");

.aboutContainer {
  height: 100vh;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #338590;
    opacity: 0.95;
    z-index: 0;
    animation: overlayFadeIn 0.2s forwards;
  }
  .overlay.hidden {
    opacity: 0;
    animation: overlayFadeOut 0.2s forwards;
  }
  @keyframes overlayFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.95;
    }
  }
  @keyframes overlayFadeOut {
    from {
      opacity: 0.95;
    }
    to {
      opacity: 0;
    }
  }

  .globalIconContainer {
    left: 3%;
    top: 1%;
    cursor: pointer;
    position: fixed;
    z-index: 5;
    width: 5%;
    .globalIcon {
      width: 100%;
    }
  }
  .globalIconContainer.hidden {
    display: none;
  }

  .aboutTitleContainer {
    width: 100%;
    text-align: center;
    padding-top: 230px;
    position: fixed;
    .aboutTitle {
      font-family: "Pacifico", serif;
      font-size: 7vw;
      color: white;
      text-shadow: 0 0 10px #84bfab, 0 0 10px #84bfab;
    }
  }
  .aboutTitleContainer.hidden {
    display: none;
  }

  .aboutMainContainer {
    position: absolute;
    top: 90px;
    width: 100%;
    .aboutMainRelativeContainer {
      position: relative;
      .photoFrameContainer {
        position: relative;
        top: -100px;
        height: auto;
        z-index: 4;
        .photoFrame {
          top: 0;
          width: 100%; // 设置图片元素的宽度为100%
          z-index: 4;
        }
        .live2dImgContainer {
          position: absolute;
          width: 100%;
          left: 16%;
          top: 47%;
          z-index: -1;
          overflow-x: hidden;
          .live2dImg {
            width: 68%;
            height: 68%;
          }
        }
        .catGirlImgContainer {
          position: absolute;
          bottom: 9%;
          left: 23%;
          height: auto;
          width: 100%;
          z-index: 5;
          display: flex;
          align-items: center;
          .catGirlImg {
            width: 6%;
            height: 6%;
          }
          .catGirlName {
            margin-left: 3.5vw;
            font-size: 2vw;
            font-family: "Pacifico", serif;
            color: rgb(42, 101, 112);
            text-shadow: 0 0 10px #84bfab, 0 0 10px #84bfab;
          }
        }
        .registerContainer {
          position: absolute;
          width: 100%;
          bottom: 8%;
          left: 12%;
          z-index: 5;
          display: flex;
          flex-direction: column;
          align-self: center;
          justify-content: center;
          text-align: center;
          .registerTitle {
            font-size: 1.5vw;
            color: rgb(42, 101, 112);
            font-weight: bolder;
          }
          .registerButton {
            position: relative;
            margin-top: 0.5vh;
            width: auto;
            background: none;
            border: none;
            cursor: pointer;
            .registerButtonImg {
              width: 20%;
            }
            .registerText {
              font-size: 1vw;
              color: white;
              position: absolute;
              bottom: 50%;
              left: 50%;
              transform: translate(-50%, 40%);
            }
          }
        }
      }
    }
  }
  .bannerContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    .bannerVideo {
      border-radius: 100%;
      height: 100%;
      width: 155%;
    }
    .bannerTitle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Pacifico", serif;
      font-size: 5vw;
      color: white;
      text-shadow: 0 0 10px #84bfab, 0 0 10px #84bfab;
      white-space: nowrap;
    }
  }
  .catGirlDetailContainer {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    .gridContainer {
      width: 85%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 35px;
      text-align: center;
      position: relative;
    }
    @media (max-width: 1100px) {
      .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 95px;
      }
    }
  }
}

.aboutContainer::-webkit-scrollbar {
  width: 0;
}
.aboutContainer:hover::-webkit-scrollbar {
  width: 0;
}
