.headingContainer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px 35px 20px 35px;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.5);
  z-index: 1;
  //overflow: visible;

  .headingLogoImg {
    height: 50px;
    cursor: pointer;
  }

  .headingOptions {
    display: flex;
    margin-left: 70px;
    height: 30px;
    .headingOption {
      font-size: 20px;
      margin-right: 30px;
      color: #cccc;
      cursor: pointer;
    }
  }

  .homepageLoginContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 20px;
    color: #cccc;
    cursor: pointer;
    padding-right: 30px;
    .homepageLogin {
      margin-right: 10px;
      .homepageToLogin {
        text-decoration: none;
        color: #cccc;
      }
    }
    .headingUserOuterContainer {
      align-items: center;
      height: 50px;
      width: 50px;
      display: flex;
      position: relative;
      .headingUserContainer {
        display: flex;
        .headingUserAvatar {
          height: 30px;
          width: 30px;
          border-radius: 100%;
          animation: user-info-fade-out 0.5s forwards;
        }
      }
      .headingUserActionContainer {
        display: none;
        background-color: white; //#313338; //#7e8287
        position: absolute;
        transition: 0.5s fade-in;
        .headingUserAction {
          padding: 5px;
          font-size: 15px;
          background: none;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: ease-in 0.3s;
          width: 100px;
        }
        .headingUserAction:hover {
          background-color: #cccdd3;
          transition: ease-in 0.3s;
        }
      }
    }
    .headingUserOuterContainer:hover {
      .headingUserActionContainer {
        display: block;
        position: absolute;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 35px 5px 10px 5px;
        right: 50%;
        transform: translateX(31%);
        border-radius: 5px;
        animation: user-action-fade-in 0.5s ease-in-out forwards;
      }
      .headingUserAvatar {
        position: absolute;
        height: 70px;
        width: 70px;
        right: 90%;
        top: 50px;
        transform: translate(50%, -50%);
        border: 2px solid white;
        z-index: 3;
        animation: user-info-fade-in 0.3s forwards;
      }
    }
    @keyframes user-action-fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes user-info-fade-in {
      from {
        opacity: 1;
        transform: translate(100%, -100%);
        scale: (0.6);
      }
      to {
        opacity: 1;
        scale: (1);
      }
    }
    @keyframes user-info-fade-out {
      from {
        opacity: 0;
        scale: (1.6);
        transform: translate(-50%, 80%);
      }
      to {
        opacity: 1;
      }
    }
  }
}
