.chatWindowLeftFunctionBarFriendsContainer {
  width: 100%;
  padding-right: 10px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  .chatWindowLeftFunctionBarFriendsBtnContainer {
    margin: 5px 15px 8px 5px;
    width: 100%;
    .chatWindowLeftFunctionBarFriendsBtn {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 15px;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;
      .chatWindowLeftFunctionBarFriendsBtnIconContainer {
        color: #c6c6c6;
      }
      .chatWindowLeftFunctionBarFriendsBtnDesc {
        margin-left: 10px;
        color: #7e8287;
      }
    }
    .chatWindowLeftFunctionBarFriendsBtn:hover {
      background-color: #404249;
      .chatWindowLeftFunctionBarFriendsBtnDesc {
        margin-left: 10px;
        color: white;
      }
      .chatWindowLeftFunctionBarFriendsBtnIconContainer {
        color: white;
      }
    }
  }
  .chatWindowLeftFunctionBarDMSplitContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 5px 15px 15px;
    .chatWindowLeftFunctionBarDMDesc {
      white-space: nowrap;
      color: #6e7278;
      font-size: 12px;
      font-weight: bolder;
      cursor: default;
    }
    .chatWindowLeftFunctionBarDMDesc:hover {
      color: white;
    }
    .chatWindowLeftFunctionBarDMSplitIconContainer {
      display: flex;
      align-items: center;
      color: #6e7278;
      margin-left: 10px;
      .chatWindowLeftFunctionBarDMSplitIcon {
        cursor: pointer;
      }
      .chatWindowLeftFunctionBarDMSplitIcon:hover {
        color: white;
      }
    }
  }
}
.chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar {
  width: 0;
}
.chatWindowLeftFunctionBarFriendsContainer:hover::-webkit-scrollbar {
  width: 6px;
}
.chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar-thumb {
  background-color: #1a1b1e;
  border-radius: 15px;
}
.chatWindowLeftFunctionBarFriendsContainer::-webkit-scrollbar-track {
  color: #5865f2;
}
